* {
    padding: 0;
    margin: 0;

}
a {
    text-decoration: none;
    color: black;
}
body {
    font-family: Arial;

}
ul{
    list-style: none;
}
img {
    width: 40px;
    height: 40px;
}
input[type = 'checkbox'] {
    display: none;
}
nav {
    background-color: rgba(16,16,16,.5);
    width:  350px;
    height: 100%;
    position: absolute;
    left: -350px;
}
a {

    display: block;
    padding: 20px 5px;
    color: white;

}
a:hover {
    background-color: rgb(176,224,230);
    color: black;
}
label{

    padding: 15px;
    position: absolute;
    z-index: 1;

}
ul {

    top: 70px;
    width: 100%;
    position: absolute;
}
input[type = 'checkbox']:checked ~ nav {
    transform: translateX(350px);

}

.icon {
     font-size: 35px;
     color: rgba(160,150,140,.9);
     padding: 0;
     margin: 0;
 }

.icon2 {
    font-size: 15px;
    color: #ffffff;
    padding: 0;
    margin: 5px;
}